- content_for :head, auto_discovery_link_tag(:rss, bookmarks_url(format: "rss"))
.main-wrapper
  - @bookmarks.each do |b|
    = render partial: 'bookmark', locals: { b: b}
.flickr_pagination
  %div{:clas => "page_info"}
    = paginate @bookmarks
