- content_for :head, auto_discovery_link_tag(:rss, bookmarks_url(format: "rss"))
.main-wrapper
  - @bookmarks.each do |b|
  - # this will make the number of bookmarks on page less than expected amount
  - next if b.private == true and b.user != current_user
    = render partial: 'bookmark', locals: { b: b}
.flickr_pagination
  %div{:clas => "page_info"}
    = paginate @bookmarks
