// Place all the styles related to the Bookmark controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar-default {
  background: #f8f8f8;
  border-color: #e7e7e7;
  a {
    color: #777
  }
}
.bookmark-wrapper {
  padding: 0.5rem;
  &.private {
    border: 3px dashed #ff9999;
  }
  border-bottom: 1px dashed #ccc;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  .bookmark-title {
    font-size: larger;
    line-height: 20px;
  }
  .bookmark-tags {
    a {
      padding-right: 0.35em;
      color: #CC4900;
    }
  }
  .bookmark-updated {
    background-color: #eee;
    padding: 0.05em 0.4em 0.2em 0em;
  }
  span.privacy {
    background-color: #cc8888;
    padding: 0.2rem;
  }
}
a {
    color: #337ab7;
    text-decoration: none;
}
body {
  background: #efefef;
  font-size: 16px;
}

.main-wrapper {
  padding-top: 1rem;
  width: 100%;
  padding: 1rem .75rem 1rem;
}


